<li><%= post.title %></li>

<% comment do %>
<div style="height: 100px"><%= post.title %></div>
<% end %>

<% comment do %>
<tr style="height: 100px">
  <td><%= post.title %></td>
</tr>
<% end %>