<form>
  <input type="text" data-reflex="input->Calc#sum" autofocus="true" placeholder="Type an integer"><br>
  times<br>
  <input type="text" name="multiplier" value="5">
</form>
<p>Result: <span id="result"></span></p>