⬇️ You'd better get scrolling...⬇️
<table style="margin-top: 1000px">
  <tbody>
    <%= futurize @posts, extends: :tr, style: "height: 100px" do %>
      <td class="placeholder"></td>
    <% end %>
  </tbody>
</table>