<h1>New Tweet</h1>

<div class="field">
  <%= label_tag :body %>
  <%= text_area_tag :body, nil, placeholder: "Type a tweet", data: { reflex: "input->Composer#preview" } %>
</div>

<div class="actions">
  <%= submit_tag "Create Tweet" %>
</div>

<div>
  <strong id="preview"></strong>
</div>

<%= link_to 'Back', "#" %>